/* @import url('http://fonts.googleapis.com/css?family=Lato:400,700') */

@import './grid.styl'
@import './components/navbar.styl'
@import './components/btn.styl'
@import './components/section.styl'

*
  margin 0
  padding 0

html
  font-size 16px
  line-height 1.5

body
  color #111
  font-family Lato, Arial, sans-serif

table, textarea
  width 100%

  font-family 'Source Code Pro', Inconsolata, monospace

th, td
  text-align center

.container
  margin 0 auto
  width 960px

.content
  padding-top 1em

.js-code
  resize none

  box-sizing border-box

  height 30em
